@use 'reset';
@use 'variables';

@media (prefers-color-scheme: light) {
    :root:not([data-color-scheme=dark]) {
        --background: var(--gray-100);
        --foreground: var(--black);
        --muted: var(--gray-600);
        --border: var(--gray-400);
        --outline-hover: var(--gray-200);
        --card: var(--white);
    
        /* PRIMARY */
        --primary: var(--primary-500);
        --primary-foreground: var(--white);
        --primary-hover: var(--primary-600);

        --focus: 2px solid var(--primary-400);
        --content: 1400px;
    }
}

html {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}