a {
    text-decoration: none;
    color: inherit;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

.nav a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
}

.nav a:hover {
    color: var(--primary);
}

.navItem {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 35px;
}

.navItem img {
    width: 35px;
    height: 100%;
    filter: drop-shadow(0 0 5px rgba(106, 17, 203, 0.7));
}