.features {

}

.featresInner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.featuresList {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: calc((100% / 3) - 77px);
    backdrop-filter: blur(5px);
    background: #19183b5e;
    border-radius: 12px; 
    padding: 1.5rem; 
}