@use 'reset';
@use 'variables';

@media (prefers-color-scheme: light) {
    :root:not([data-color-scheme=dark]) {
        --background: var(--gray-100);
        --foreground: var(--black);

        /* PRIMARY */
        --primary: var(--primary-500);
        --primary-foreground: var(--white);
        --primary-hover: var(--primary-600);
    }
}

html {
    background: var(--background);
    color: var(--foreground);
}