
# Output of the go coverage tool
*.out

# Dependency directories
vendor/
bin/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env

# Build output
dist/

# Debug files
debug
logs/

# OS-specific files
.DS_Store
Thumbs.db
